.option-imgWtext {
  width: 64px;
  img {
    width: 64px;
    height: 64px;
  }
  p {
    color: $neutral-600;
    text-align: center;
  }
}
.option {
  a {
    display: block;
    padding: 12px 24px;
    color: $neutral-900;
    background-color: $neutral-0;
    border: 1px solid $neutral-300;
    text-align: center;
    border-radius: $radius-sm;
    &:hover {
      border: 1px solid $neutral-600;
    }
    &:focus {
      border: 1px solid $neutral-900;
    }
  }
}
.option.disable {
  a {
    opacity: 0.3;
    cursor: not-allowed;
    &:hover {
      border: 1px solid $neutral-0;
    }
  }
}
