<footer class="py-64">
  <div class="container-lg">
    <ul class="link d-flex mb-24 Label-md">
      <li class="mr-auto">
        <a href="./index.html"
          ><img src="/assets/images/logo.svg" alt="logo"
        /></a>
      </li>
      <li class="mr-40"><a class="py-12" href="./product.html">商品列表</a></li>
      <li><a class="py-12" href="./story.html">品牌故事</a></li>
    </ul>
    <div class="copyright P-sm pt-32">
      <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
