<nav>
  <div class="container-lg py-16">
    <ul class="d-flex Label-md">
      <li class="mr-48">
        <a href="./index.html"
          ><img src="/assets/images/logo.svg" alt="logo"
        /></a>
      </li>
      <li class="mr-40 display-none">
        <a class="py-12" href="./product.html">商品列表</a>
      </li>
      <li class="display-none">
        <a class="py-12" href="./story.html">品牌故事</a>
      </li>
      <li class="login-icon ml-auto">
        <a class="pd-12" href="./login.html"><i class="bi bi-person"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav>
  <ul>
    <li><a href="./index.html">首頁</a></li>
    <li><a href="./product.html">產品列表頁</a></li>
    <li><a href="./productDetail.html">產品詳情頁</a></li>
    <li><a href="./story.html">品牌故事</a></li>
    <li><a href="./save.html">收藏頁面</a></li>
    <li><a href="./login.html">登入註冊頁面</a></li>
  </ul>
</nav> -->
