<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include("./layout/nav") %>

    <main>
      <div class="index-banner d-flex">
        <div class="banner-text ml-12">
          <h1 class="display1 mb-16">URBNSTEP</h1>
          <h4 class="H3 mb-48">Your Step, Your Statement</h4>
          <div class="btn lgBtn pBtn Label-md">
            <a href="#"> 立即選購 </a>
          </div>
        </div>
      </div>
      <div class="new container-lg py-64">
        <h2 class="display2 mb-12">New Arrival</h2>
        <h3 class="H2 mb-32">新品上市</h3>
        <div class="row">
          <div class="col-6 mb-40">
            <div class="card">
              <img
                class="mb-12"
                src="/assets/images/new-1.png"
                alt="新品上市1"
              />
              <p class="H5 mb-4">Monoverse</p>
              <p class="Label-md">NT$3,600</p>
            </div>
          </div>
          <div class="col-6 mb-40">
            <div class="card">
              <img
                class="mb-12"
                src="/assets/images/new-2.png"
                alt="新品上市2"
              />
              <p class="H5 mb-4">PLATFORM 404</p>
              <p class="Label-md">NT$2,600</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <img
                class="mb-12"
                src="/assets/images/new-3.png"
                alt="新品上市3"
              />
              <p class="H5 mb-4">URBN Force</p>
              <p class="Label-md">NT$3,200</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <img
                class="mb-12"
                src="/assets/images/new-4.png"
                alt="新品上市4"
              />
              <p class="H5 mb-4">Mode90</p>
              <p class="Label-md">NT$4,000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hot container-lg py-64">
        <h3 class="H2 mb-16">熱銷補貨</h3>
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-3.png" alt="熱門補貨1" />
              <span class="Label-sm py-8 px-12">人氣 No.1</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product.png" alt="熱門補貨1" />
              <span class="Label-sm py-8 px-12">人氣 No.1</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-6.png" alt="熱門補貨1" />
              <span class="Label-sm py-8 px-12">人氣 No.1</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-4.png" alt="熱門補貨1" />
              <span class="Label-sm py-8 px-12">人氣 No.1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sale-wrap py-48">
        <div class="sale d-flex-col-cc">
          <div class="activity-title d-flex-cc mb-16">
            <h1 class="display2 mr-24">URBNSTEP</h1>
            <p class="H1 mr-24">x</p>
            <h1 class="display2">Kevin Chen</h1>
            k
          </div>
          <h3 class="H2 mb-32">跨界聯名，限量發售</h3>
          <p class="P-lg mb-48">
            新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
          </p>
          <div class="btn lgBtn pBtn Label-md d-flex-cc">
            <a href="#"> 立即搶購 </a>
          </div>
          <img class="star" src="/assets/images/star.svg" alt="star" />
          <img class="sparkle" src="/assets/images/sparkle.svg" alt="Sparkle" />
        </div>
      </div>
      <div class="series container-lg py-64">
        <h3 class="H2 mb-16">依系列選購</h3>
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-6.png" alt="熱門補貨1" />
              <div class="series-name d-flex-col-cc">
                <p class="H3 pb-8">URBN RUNNER</p>
                <p class="H4">慢跑系列</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-11.png" alt="熱門補貨1" />
              <div class="series-name d-flex-col-cc">
                <p class="H3 pb-8">STREETMODE</p>
                <p class="H4">滑板系列</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-9.png" alt="熱門補貨1" />
              <div class="series-name d-flex-col-cc">
                <p class="H3 pb-8">CHUNK DISTRICT</p>
                <p class="H4">厚底系列</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="/assets/images/product-10.png" alt="熱門補貨1" />
              <div class="series-name d-flex-col-cc">
                <p class="H3 pb-8">COLLAB ZONE</p>
                <p class="H4">聯名企劃</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="idea container-lg py-64">
        <h3 class="H2 mb-16">穿搭靈感</h3>
        <div class="row-sm">
          <div class="col-4-sm">
            <div class="row-sm">
              <div class="col-6-sm mb-8">
                <img src="/assets/images/inspiration-1.png" alt="靈感1" />
              </div>
              <div class="col-6-sm mb-8">
                <img src="/assets/images/inspiration-2.png" alt="靈感2" />
              </div>
              <div class="col-12-sm">
                <img src="/assets/images/inspiration-3.png" alt="靈感3" />
              </div>
            </div>
          </div>
          <div class="col-4-sm">
            <div class="row-sm">
              <div class="col-6-sm mb-8">
                <img src="/assets/images/inspiration-4.png" alt="靈感4" />
              </div>
              <div class="col-6-sm mb-8">
                <img src="/assets/images/inspiration-5.png" alt="靈感5" />
              </div>
              <div class="col-6-sm mb-8">
                <img src="/assets/images/inspiration-6.png" alt="靈感6" />
              </div>
              <div class="col-6-sm mb-8">
                <img src="/assets/images/inspiration-7.png" alt="靈感7" />
              </div>
              <div class="col-6-sm">
                <img src="/assets/images/inspiration-8.png" alt="靈感8" />
              </div>
              <div class="col-6-sm">
                <img src="/assets/images/inspiration-9.png" alt="靈感9" />
              </div>
            </div>
          </div>
          <div class="col-4-sm">
            <div class="row-sm">
              <div class="col-12-sm mb-8">
                <img src="/assets/images/inspiration-10.png" alt="靈感10" />
              </div>
              <div class="col-6-sm">
                <img src="/assets/images/inspiration-11.png" alt="靈11" />
              </div>
              <div class="col-6-sm">
                <img src="/assets/images/inspiration-12.png" alt="靈感12" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("./layout/banner") %> <%- include("./layout/footer") %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
